---
import { marked } from 'marked';
import siteConfig from '../data/site-config';
import LottieAnimation from 'astro-transitions-lottie/Lottie.astro';
import lottie from '../../public/lotties/maui.json';
import Button from './Button.astro';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16 flex justify-between items-center">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <div class=" flex flex-col gap-8">
                <h1 class=" font-sans bg-gradient-to-br from-peach to-mauve text-transparent bg-clip-text font-black text-4xl leading-tight text-theme-foreground md:text-6xl sm:text-8xl">
                    <a href="/" set:html={marked.parse(siteConfig.heading)} />
                </h1>
                <section class=" block">
                    {siteConfig?.hero?.actions && siteConfig?.hero.actions.length > 0 && (
                        <div class="flex flex-wrap gap-4">
                            <Button
                                class={
                                    '  bg-gradient-to-br from-teal to-green text-black border-none font-normal hover:bg-gradient-to-bl hover:from-green hover:to-teal'
                                }
                            >
                                <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 2048 2048">
                                    <path fill="currentColor" d="M384 2048v-128h1152v128zm1197-979l-621 626l-621-626l90-90l467 470V0h128v1449l467-470z" />
                                </svg>
                                <span class="ml-1">Resume</span>
                            </Button>
                            {siteConfig?.hero.actions.map((action) => (
                                <Button href={action.href}>{action.text}</Button>
                            ))}
                        </div>
                    )}
                </section>
            </div>
        )
    }
    {
        siteConfig?.hero?.video?.src && (
            <div class=" w-32 md:w-48">
                <LottieAnimation src={'/lotties/maui.json'} autoplay="visible" />
            </div>
        )
    }
    {siteConfig.subtitle && <p class="font-sans text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl">{siteConfig.subtitle}</p>}
</header>
